{% extends "base.html" %}
{% block title %}Groupes{% endblock %}

{% block content %}

<h2>👥 Groupes</h2>

<table style="width:100%;border-collapse:collapse;margin-top:15px;">
  <thead>
    <tr style="background:#e9eef6;">
      <th>Nom Groupe</th>
      <th>Étudiants</th>
      <th>Projet</th>
    </tr>
  </thead>

  <tbody>

    {% if groupes and groupes|length > 0 %}

      {% for g in groupes %}
      <tr style="border-bottom:1px solid #ddd;">

        <td>{{ g.nom_group }}</td>

        <td>
          {% if g.etudiants%}
            {% for e in g.etudiants %}
              {{ e.Nom }}<br>
            {% endfor %}
          {% else %}
            Aucun étudiant
          {% endif %}
        </td>

        <td>
          {% if g.projets %}
          {% for p in g.projets %}
          <div style="padding:5px 0; border-bottom:1px solid #eee;">
               {{ p.Nom_projet }}
          </div>
          {% endfor %}
          {% else %}
            ❌ Aucun projet
          {% endif %}
        </td>

      </tr>
      {% endfor %}

    {% else %}

      <tr>
        <td colspan="3" style="text-align:center;padding:20px;">
          💚 Aucun groupe pour le moment
        </td>
      </tr>

    {% endif %}

  </tbody>
</table>

{% endblock %}