{% extends "base.html" %}
{% block content %}

<style>

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 13px;
  color: #7f8c8d;
  margin-bottom: 18px;
}
.form-box {
  max-width: 520px;
  margin: auto;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #34495e;
  font-weight: 500;
}
input, select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  background: #fff;
}
input:focus, select:focus {
  border-color: #56CFE1;
  box-shadow: 0 0 0 3px rgba(86,207,225,0.2);
}
button {
  width: 100%;
  margin-top: 18px;
  padding: 11px;
  border: none;
  border-radius: 10px;
  background: #56CFE1;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #48b9cc;
  transform: translateY(-2px);
}

</style>

<h2 class="page-title">✏Modifier Étape</h2>
<p class="subtitle">Mettre à jour les informations de l’étape</p>

<div class="form-box">

<form method="POST">

  <label>Nom Étape</label>
  <input type="text" name="Nom_etape" value="{{ etape.Nom_etape }}" required>

  <button type="submit"> Modifier</button>

</form>

</div>

{% endblock %}